//Content1
.section1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .content-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        column-gap: 80px;    
        .left-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 60px;
            // justify-content: end;
            .left-content-title {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding-top: 144px;
                // padding-left: 162px;
            }
            .left-content-button {
                display: flex;
                flex-direction: row;
                gap: 20px;
                // padding-left: 162px;

                .button-learn {
                    padding: 18px 24px;
                    background: var(--main-button-color-black);
                    border: 1px var(--main-button-color-grey) solid;
                    border-radius: 10px;
                }
                .button-browse {
                    padding: 18px 24px;
                    background: var(--main-button-color-purple);
                    border: 1px var(--main-button-color-purple) solid;
                    border-radius: 10px;
                }
            }
            .left-content-subcard {
                display: flex;
                flex-direction: row;
                gap: 20px;
                // padding-left: 162px;
                padding-bottom: 144px;
                .subcard {
                    padding: 16px 24px;
                    background: var(--main-button-color-black);
                    border: 1px var(--main-button-color-grey) solid;
                    border-radius: 10px;
                    white-space: nowrap;
                }
            }
    
        }
        .right-content {
            flex: 1;
            img {
                object-fit: cover;
                overflow: hidden;
            }
        }
    }
    .content-bottom {
        .content-buttom-cards {
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            .buttom-card {
                // position: relative;
                display: flex;
                flex-direction: column;
                padding: 40px 130px;
                background-color: var(--main-button-color-grey10);
                border: 1px var(--main-button-color-grey) solid;
                border-radius: 12px;
                .buttom-card-div1 {
                    // position: absolute;
                    display: flex;
                    justify-content: end;
                  
                }
                .buttom-card-div2 {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                .buttom-card-div3 {
                    font-size: 1.25rem;
                    font-weight: 200;
                    color: #ffff;
                    white-space: nowrap;
                }
            }
        }
    }
}
//Content2
.section2 {
    display: flex;
    flex-direction: column;
    margin-top: 144px;
    gap: 80px;
    .section2-title {
        display: flex;
        flex-direction: column;
        gap: 14px;
        .section2-title-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            button {
                padding: 18px 24px;
                background: var(--main-button-color-black);
                border: 1px var(--main-button-color-grey) solid;
                border-radius: 10px;

            }
            p {
                max-width: 80%;
            }
        }
    }
    .section2-cards {
        .slider-container {
            .section2-slider-card{
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 40px;
                margin-right: 30px;
                border: 1px #262626 solid;
                border-radius: 12px;
                .section2-slider-card-img {
                    img {
                        border-radius: 10px;
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
                .section2-slider-card-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .section2-slider-card-info-icon {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        .icon-card {
                            display: flex;
                            flex-direction: row;
                            white-space: nowrap;
                            gap: 4px;
                            padding: 8px 14px;
                            background-color: var(--main-button-color-grey);
                            border: 1px var(--main-button-color-grey10) solid;
                            border-radius: 28px;
                            p{
                                color: #ffff !important;
                            }
                        }
                    }
                    .section2-slider-card-footer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        button {
                            padding: 18px 24px;
                            background: var(--main-button-color-purple);
                            border: 1px var(--main-button-color-purple) solid;
                            border-radius: 10px;        
                        }
                    }
                }
            }
        }
    }
    .slider-cards {
        display: flex;
        flex-direction: column;
        .cards-pagitaion {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 30px;
            margin-top: 70px;

            .btn-prev {
                // background-image: url(../../Images/Card/Vector\ \(StrokeL\).svg);
                padding: 20px;
                background-color: var(--main-button-color-grey10);
                border: 1px var(--main-button-color-grey10) solid;
                border-radius: 50px;
                cursor: pointer;
            }
            .btn-next {
                // background-image: url(../../Images/Card/Vector\ \(StrokeR\).svg);
                padding: 20px;
                background-color: var(--main-button-color-grey10);
                border: 1px var(--main-button-color-grey10) solid;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}
//section 3
.feedback {
    .feedback-title {
        display: flex;
        flex-direction: column;
        gap: 14px;
        .feedback-title-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            button {
                padding: 18px 24px;
                background: var(--main-button-color-black);
                border: 1px var(--main-button-color-grey) solid;
                border-radius: 10px;

            }
            p {
                max-width: 80%;
            }
        }
    }

    .feedback-cards {
        .feedback-card {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 50px;
            border: 1px var(--main-button-color-grey10) solid;
            border-radius: 12px;
            .star {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
            .user-feedback {
                display: flex;
                flex-direction: row;
                gap: 10px;
                .user-feedback-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .user-feedback-title {
                        p {
                            color: #ffff;
                        }
                    }
                }

            }

        }
    }
    .slider-cards {
        display: flex;
        flex-direction: column;
        .cards-pagitaion {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 30px;
            margin-top: 70px;

            .btn-prev {
                // background-image: url(../../Images/Card/Vector\ \(StrokeL\).svg);
                padding: 20px;
                background-color: var(--main-button-color-grey10);
                border: 1px var(--main-button-color-grey10) solid;
                border-radius: 50px;
                cursor: pointer;
            }
            .btn-next {
                // background-image: url(../../Images/Card/Vector\ \(StrokeR\).svg);
                padding: 20px;
                background-color: var(--main-button-color-grey10);
                border: 1px var(--main-button-color-grey10) solid;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }

}