.section1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.section1 .content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.section1 .content-top .left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.section1 .content-top .left-content .left-content-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 144px;
}
.section1 .content-top .left-content .left-content-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section1 .content-top .left-content .left-content-button .button-learn {
  padding: 18px 24px;
  background: var(--main-button-color-black);
  border: 1px var(--main-button-color-grey) solid;
  border-radius: 10px;
}
.section1 .content-top .left-content .left-content-button .button-browse {
  padding: 18px 24px;
  background: var(--main-button-color-purple);
  border: 1px var(--main-button-color-purple) solid;
  border-radius: 10px;
}
.section1 .content-top .left-content .left-content-subcard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 144px;
}
.section1 .content-top .left-content .left-content-subcard .subcard {
  padding: 16px 24px;
  background: var(--main-button-color-black);
  border: 1px var(--main-button-color-grey) solid;
  border-radius: 10px;
  white-space: nowrap;
}
.section1 .content-top .right-content {
  flex: 1;
}
.section1 .content-top .right-content img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.section1 .content-bottom .content-buttom-cards {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.section1 .content-bottom .content-buttom-cards .buttom-card {
  display: flex;
  flex-direction: column;
  padding: 40px 130px;
  background-color: var(--main-button-color-grey10);
  border: 1px var(--main-button-color-grey) solid;
  border-radius: 12px;
}
.section1 .content-bottom .content-buttom-cards .buttom-card .buttom-card-div1 {
  display: flex;
  justify-content: end;
}
.section1 .content-bottom .content-buttom-cards .buttom-card .buttom-card-div2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section1 .content-bottom .content-buttom-cards .buttom-card .buttom-card-div3 {
  font-size: 1.25rem;
  font-weight: 200;
  color: white;
  white-space: nowrap;
}

.section2 {
  display: flex;
  flex-direction: column;
  margin-top: 144px;
  gap: 80px;
}
.section2 .section2-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.section2 .section2-title .section2-title-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section2 .section2-title .section2-title-btn button {
  padding: 18px 24px;
  background: var(--main-button-color-black);
  border: 1px var(--main-button-color-grey) solid;
  border-radius: 10px;
}
.section2 .section2-title .section2-title-btn p {
  max-width: 80%;
}
.section2 .section2-cards .slider-container .section2-slider-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  margin-right: 30px;
  border: 1px #262626 solid;
  border-radius: 12px;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-img img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info .section2-slider-card-info-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info .section2-slider-card-info-icon .icon-card {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 4px;
  padding: 8px 14px;
  background-color: var(--main-button-color-grey);
  border: 1px var(--main-button-color-grey10) solid;
  border-radius: 28px;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info .section2-slider-card-info-icon .icon-card p {
  color: white !important;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info .section2-slider-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section2 .section2-cards .slider-container .section2-slider-card .section2-slider-card-info .section2-slider-card-footer button {
  padding: 18px 24px;
  background: var(--main-button-color-purple);
  border: 1px var(--main-button-color-purple) solid;
  border-radius: 10px;
}
.section2 .slider-cards {
  display: flex;
  flex-direction: column;
}
.section2 .slider-cards .cards-pagitaion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 70px;
}
.section2 .slider-cards .cards-pagitaion .btn-prev {
  padding: 20px;
  background-color: var(--main-button-color-grey10);
  border: 1px var(--main-button-color-grey10) solid;
  border-radius: 50px;
  cursor: pointer;
}
.section2 .slider-cards .cards-pagitaion .btn-next {
  padding: 20px;
  background-color: var(--main-button-color-grey10);
  border: 1px var(--main-button-color-grey10) solid;
  border-radius: 50px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */